{% extends 'base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{request.user.username}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn">Profile</a></li>
                <li class="d-grid"><a href="{% url 'address' %}" class="btn {{active}}">Address</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">

{% if not data %}
<h3> <a href="{% url 'profile' %}">Click Here</a> To Add Address</h3>

{% else %}
            <div class="row">

                {% for data in data %}
                  
                <div class="col-sm-6 my-3  ">
                    <div class="card">
                        <div class="card-body">
                            <h3>Address {{forloop.counter}}</h3>
                            <p class="text-capitalize"> <strong> Name: </strong> {{data.name}}</p>
                            <p class="text-capitalize"> <strong> Address 1: </strong> {{data.locality}}</p>
                            <p class="text-capitalize"> <strong> Address 2:</strong> {{data.city}}</p>
                            <p class="text-capitalize"> <strong> State:</strong> {{data.state}}</p>
                            <p class="text-capitalize"> <strong> Zipcode:</strong> {{data.zipcode}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
{% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock main-content %}