{% extends 'base.html' %} {% load static %} 
{% block title %}Rest Password{% endblock title %} 
{% block main-content %}
<div class="container">
  <div class="row my-3">
    <div class="col-sm-6 offset-sm-3">
      <h4 class="alert-heading">Well Done</h4>
        <p>An Email has been send with instructions to reset your password.<b>Check Your Email</b></p>
        <div style="width:75%;height:0;padding-bottom:100%;position:relative;"><iframe src="https://giphy.com/embed/mFqsIXucjR7GcqRb2c" width="75%" height="75%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
    </div>
  </div>
</div>
{% endblock main-content %}
