<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django Template</title>
  </head>
  <body>
    <h1>TEXT UTILS</h1>
    <form action="/analyze" method="GET">
      <textarea
        name="mainText"
        style="margin: 0px; width: 881px; height: 124px"
      ></textarea>
      <input type="checkbox" name="removepunc" />Remove Punchuation
      <button type="submit">Analyze Text</button>
    </form>
  </body>
</html>
