{% extends 'base.html' %} {% block title %}About {% endblock title %} 
{% block body %} 
<style>
 
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid-demo {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  </style>

  <!-- First Container -->
<div class="container-fluid-demo bg-1 text-center">
  <h3 class="margin">Who Am I?</h3>
  <img src="https://picsum.photos/300/300" class="img-responsive img-circle margin" style="display:inline; border-radius:50%;" alt="Bird" width="250" height="250">
  <h3>I'm an adventurer</h3>
</div>

<!-- Second Container -->
<div class="container-fluid-demo bg-2 text-center">
  <h3 class="margin">What Am I?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid-demo bg-3 text-center">    
  <h3 class="margin">Where To Find Me?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="https://picsum.photos/202/300" class="img-responsive margin" style="width:60%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="https://picsum.photos/200/303" class="img-responsive margin" style="width:60%" alt="Image">
    </div>
    <div class="col-sm-4"> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <img src="https://picsum.photos/204/300" class="img-responsive margin" style="width:60%" alt="Image">
    </div>
  </div>
</div>

</style>
{% endblock body %}
    